header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   
    height:80px;
    .container{
        margin: 0 auto;
        max-width: 1200px;

    .all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
       
        .logo{
            border: 2px solid white;
            padding: 5px;
            max-width: 100px;
            width: 100%;
            color: white;
            font-family: 'Mulish';
            h3{
               display: flex;
               justify-content: center;
               align-items: center;
            }
        }
        .right{
            ul{
                display: flex;
                gap: 30px;
                align-items: center;
                a{
                    text-decoration: none;
                    color:white;
                   li{
                   
                    list-style: none;
                    font-size: 20px;
                   }

                }
            }
          
        }
    }
}
}